<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.springboot.springbootmaven.Demo.mapper.EmpMapper" >
  <resultMap id="BaseResultMap" type="com.zy.springboot.springbootmaven.Demo.Entity.Emp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="empname" property="empname" jdbcType="VARCHAR" />
    <result column="emptype" property="emptype" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from emp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zy.springboot.springbootmaven.Demo.Entity.Emp" >
    insert into emp (id, empname, emptype
      )
    values (#{id,jdbcType=INTEGER}, #{empname,jdbcType=VARCHAR}, #{emptype,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zy.springboot.springbootmaven.Demo.Entity.Emp" >
    update emp
    set empname = #{empname,jdbcType=VARCHAR},
      emptype = #{emptype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, empname, emptype
    from emp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, empname, emptype
    from emp
  </select>
</mapper>