<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/plugins/wangEdit/wangEditor.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/plugins/toastr/toastr.js}"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=zDs1tmrvchAwxbUVjOpsX4rhAO4rBz3x" type="text/javascript"></script>
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}"  rel="stylesheet"/>
    <link th:href="@{/css/mycss.css}"  rel="stylesheet"/>
    <link th:href="@{/plugins/toastr/toastr.css}"  rel="stylesheet"/>
</head>

<body class="bg">
<!--顶部-->
<nav class="navbar  nav-bg " role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar-right">
            <span class="navbar-brand span-font-color" id="location" ></span>
            <span class="navbar-brand span-font-color" th:id="wt" th:text="${weather.weather}"></span>
            <span class="navbar-brand span-font-color" th:id="week" th:text="${week}"></span>
            <span class="navbar-brand span-font-color" th:id="date" th:text="${date}"></span>
        </div>

    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <input th:id="title" class="form-control input-lg" type="text" placeholder="为勤劳的一天来句总结吧">
        </div>
        <div class="col-md-12 top-buffer">
            <div th:id="editor" class="white-bg"></div>
        </div>
        <div class="col-md-2 col-md-offset-10 top-buffer">
           <!-- <input  type="radio" name="mood" value="1">高兴
            <input  type="radio" name="mood" value="2">一般
            <input  type="radio" name="mood" value="3">不高兴-->
            <input type="button" th:id="cancelBtn" class="btn btn-danger right" value="取消">
            <input type="button" th:id="submitBtn" class="btn btn-success right" value="提交">
        </div>
    </div>

</div>

</body>
<script th:inline="javascript">

    //通知提示框
    toastr.options.positionClass = 'toast-bottom-left';

     function init() {
         //创建一个编辑器
         var E = window.wangEditor
         var editor = new E('#editor')
         editor.create()

         //用js设置内容
         //editor.txt.html('<p>用js设置的内容</p><p>fsfldsjfkls;f</p><p>slfjslfjslf</p><p>slfns.fklsfjskl;fjs</p><p>少了几分深刻理解佛i司法解释发&nbsp;<span style="background-color: rgb(241, 241, 241);">public class Test{</span></p><pre><code>  public static void main(String[] args){<br><br>}<br><br>}</code></pre><p><br></p>')
         //获取内容
         $('#submitBtn').click(function () {
             var data={
                 'weather':$('#wt').text(),
                 //'mood':$("input[name='mood']:checked").val(),
                 'address':$('#location').text(),
                 'createdate':$('#date').text(),
                 'week':$('#week').text(),
                 'title':$('#title').val(),
                 'context':editor.txt.html()
             }
             $.ajax({
                 url:"/diary/insertDiaryData",
                 type:"POST",
                 dataType:'json',
                 data:JSON.stringify(data),
                 contentType:"application/json",
                 success:function(data){
                 toastr.success("添加成功")
             }
         });
         })

     }
    //百度地图根据浏览器定位
    function getlocation(){
        var geolocation = new BMap.Geolocation();
        var geoc = new BMap.Geocoder();
        geolocation.getCurrentPosition(function(r){
            if(this.getStatus() == BMAP_STATUS_SUCCESS){
                //alert('您的位置：'+r.point.lng+','+r.point.lat);

                geoc.getLocation(r.point,function(rs){
                    var addComp = rs.addressComponents;
                    // $('#location').text("坐标："+r.point.lng+","+r.point.lat+"地址:"+addComp.city)
                    $('#location').text(addComp.city)
                })
            }
            else {
                alert('failed'+this.getStatus());
            }
        },{enableHighAccuracy: true})
    }

    window.onload = function () {
        getlocation()
        init()
    }





</script>
</html>